.trip-intro-row {
	height: 90vh;
	margin-top: -20px;
	
	
}

.trip-photo-row  {
	height: 50vh;
	/* border: 1px solid black; */
	min-width: 100%;
	
	/* opacity: 0.4; */
}

.columns {
	/* border: 1px solid green; */
}
.trip-photo-row:nth-child(odd) {
	background: rgba(126, 127, 128, 0.5);

}

.trip-photo-row:nth-child(even) {
	background: rgba(86, 86, 86, 0.5);

}

.trip-photo-row img {
	
	transform: translateY(100px);
}

.trip-photo-row .fi-comment {
	position: relative;
	top: 10vh;
	color: #8ba2d8;
	transform: translateY(100px);
}

.intro-quote {
	position: relative;
	top: 20vh;
	font-size: 2rem;
}