/*
.big-photo-row {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.overlay {
	position: absolute;
	bottom: 0%;
	left: 0;
	right: 0;
	height: 20%;
	background: #6b6666;
	opacity: 0.7;
}

.overlay h3, .overlay p{
	color: white;
}
*/
.photo-show-img {
	/*if the picture is wider than it is long, we need to set min-width to 90 percent, but if it is longer than it is wide than we set the min-height to 90 */
	/* min-width: 90%; */
/*
	dispay: table-cell;
	vertical-align: middle;
*/
	max-width: 90%;
	max-height: 90%;
}